*{
    background-color: black;
    color: azure;
}

    .consultaCard{
        list-style: none;
        font-size: 1rem;
        text-align: center;
        margin-right: 20px;
     
    }
    
.titulo{
    text-decoration: none!important;
}

   .recetaImage{
        border-radius: 20px;
        background-color: azure;
        width: 230px;
        height: 270px;
    }

    

    @media(max-width:560px){
        .recetaImage{
            width:90%;
            height: auto;  
        }
    }